@model InternetBanking.Models.RegisterViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegisterViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SBAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SBAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIFNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIFNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
